body {
    width: 96%;
    margin: 0 auto;
    background-color: #FAFAFA;
    font-family: "Space Grotesk", "Oleo Script", serif;
}
div.nav {
    overflow: auto;
    width: 100%;
    height: 100%;
    border-bottom: 0.1px solid lightgray;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}
div.links a { 
    display: inline-block;
    text-align: center;
    padding:2% 2% 10px:
    text-decoration: none;
    color: black;
    text-decoration: none;
}
div.links a.start {
    display: block;
    float: right;
    margin:1% 10% 30px 0;
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration: none;
}
.nav0 a:hover {color: #2549D3;}
.nav h2 {
    float: left;
    font-style: italic;
    padding-top: 0%;
    width: 20%;
}

/* Start of <Div class="two learn"> */

div.learn.two {
    overflow: auto;
    width: 100%;
    height: 700px;
    margin: 100px 2% 0;
}
.text{
    width: 35%;
   /*  text-align: center; */
    float: left;
    height: 90%;
    padding-top: 50px;
}
div.image1{
    width: 55%;
    float: right;
    margin-right: 7%;
    text-align: center;
}
.image01 {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
a.learn {
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration: none;
}
.text h1 {
    color: #2549D3;
}
/* Start of division <div class="three search" properties */

div.search {
    overflow: auto;
    width: 50%;
    margin: 20px 25% 50px;
    background-color: white;
    border-radius: 13px;
}
div.three {
    float: left;
    padding-right: 12%;
    padding-left: 2%;
}
div.three .link {
    float: right;
    padding-left: 0;
    padding-right: 2%;
}
a.search {
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration: none;
}
div.three h4 {color: #2549D3;}

/* End of Division three. Start of <div class="four products" */

div.four .products {
    overflow: auto;
    width: 100%; 
}
div.four h2 {
    color: #2549D3;
    margin-top: 30px;
}
div.center {text-align: center;}
.find, .payments, .official {
    text-align: center;
    display: block;
    width: 31%;
    height: 550px;
    margin: 1%;
    float: left;
    background-color: white;
    padding-bottom: 20px;
}
div.four img {
    margin: 50px auto 0;
    width: 50%;
}

/* End of Division four. Onto Division five */

div.choice {
    overflow: auto;
    width: 98%;
    margin: 50px auto;
}
img.choose {
    display: block;
    float: left;
    margin: 10px 50px 0 0 ;
    width: 50%;
}
.list {
   /*  display: block; */
    float: right;
    width: 35%;
    margin: 10% auto;
}
.list ul {
    float: left;
    font-weight: 600;
    margin-right: 14%;
}

/* End of Div five. To Div six */

div.property {
    overflow: auto;
    width: 100%;
}
.featured {
    text-align: center;
    overflow: auto;
    width: 30%;
    background-color: white;
    margin: 20px 1%;
    float: left;
    border-radius: 0 35% 0 5%;
}
.featured img { 
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
p.duplex {
    float: right;
    margin-right: 10%;
}
p.place {
    float: left;
    margin-left: 10%;
}
a.more {
    float: right;
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    margin: 0 5% 10%;
}
span.font-weight {
    font-weight: bold;
    font-size: larger;
}
span.color {
    font-weight: bold;
    color: #2549D3;}
.six h2 {color: #2549D3;}

/* End of div six. Div seven below */

div.seven {
    overflow: auto;
    width: 100%;
}
div.client {
    float: left;
    width: 30%;
    margin: 0 1%;
    background-color: white;
    border-radius: 5%;
}
.client p, .client h3, .client h4 {padding:0 8px;}

/* End of division 7. Onto the final division */

div.resources { 
    background-color: #0F298B;
    color: lightgray;
    overflow: auto;
    width: 100%;
}
div.other {
    float: left;
    width: 21%;
    margin: 10px 2%;
}
.other ul {
    list-style: none;
    padding-bottom: 70px;
}
.other h3 {
    padding-left: 40px;
}
h3.italic {
    font-style: italic;
    padding-left: 0;
}
.other li {padding-bottom: 10px;}