body {
    background-color: #FAFAFA;
    font-family: "Space Grotesk", "Oleo Script", serif;
}
div.nav {overflow: auto;
    width: 100%;
    height: 100%;
    border-bottom: solid 0.1px lightgray;
}
.nav a {
    text-decoration: none;
    color: black;
}
a.start {
    float: right;
    margin:20px 5% 1px 1px;
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration: none;
}
.nav0 {
    width: 28%;
    float: left;
    margin:0 2%;
}
div.nav li {
    list-style: none;
    display: inline;
    margin-left: 7%;
    text-align: center;
}
.nav0 li>a:hover {color: #2549D3;}
.nav h2 {font-style: italic;}

/* Start of <Div class="2learn">*/

div.learn.two {
    overflow: auto;
    width: 100%;
    margin: 50px 2%;
}
.text{
    width: 35%;
   /*  text-align: center; */
    float: left;
}
div.image1{
    width: 55%;
    float: right;
    margin-right: 7%;
    text-align: center;
}
.image01 {
    width: 100%;
    height: 100%;
    padding-top: 0;
}
a.learn {
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration: none;
}
.text h1 {
    color: #2549D3;
}
/* Start of division <div class="three search" properties */

div.search {
    overflow: auto;
    width: 50%;
    margin: 20px 25% 50px;
    background-color: white;
    border-radius: 13px;
}
div.three {
    float: left;
    padding-right: 12%;
    padding-left: 2%;
}
div.three .link {
    float: right;
    padding-left: 0;
    padding-right: 2%;
}
a.search {
    width: 100px;
    height: 20px;
    text-align: center;
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px outset;
    background-color:  #2549D3;
    border-radius: 8px;
    color: whitesmoke;
    text-decoration: none;
}
div.three h4 {color: #2549D3;}

/* End of Division three. Start of <div class="four products" */

div.four .products {
    overflow: auto;
    width: 100%; 
}
div.four h2 {color: #2549D3;}
div.center {text-align: center;}
.find, .payments, .official {
    text-align: center;
    display: block;
    width: 31%;
    height: 550px;
    margin: 1%;
    float: left;
    background-color: white;
    padding-bottom: 20px;
}
div.four img {
    margin: 50px auto 0;
    width: 50%;
}

/* End of Division four. Onto Division five */

div.choice {
    overflow: auto;
    width: 98%;
    margin: 50px auto;
}
img.choose {
    display: block;
    float: left;
    margin: 10px 50px 0 0 ;
    width: 50%;
}
.list {
   /*  display: block; */
    float: right;
    width: 35%;
    margin: 10% auto;
}
.list ul {
    float: left;
    font-weight: 600;
    margin-right: 14%;
}